<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code first app</title>
    <link rel="stylesheet" href= "{% static "css/style.css"%}">
</head>
<body>
    <h1>Student Records</h1>
    {% if Student_data != '' %}
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Roll Number</th>
        </tr>
        {% for Student in Student_data %}
        <tr>
            <td>{{Student.name}}</td>
            <td>{{Student.age}}</td>
            <td>{{Student.roll_no}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h2>No Records Found</h2>
    {% endif %}
    
    <img width="300" src= "{% static "images/cat.jpg" %}" alt="Something Went Wrong.">
</body>
</html>